SERVICE_B_PORT=3000
MOCK_C_PORT=3001
MOCK_A_PORT=3002
SERVICE_B_URL=http://service-b:3000
MOCK_C_URL=http://mock-c:3001

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=messages
POSTGRES_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379
